html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Courier';
    color: #FFF;
    font-size: 8pt;
    line-height: 6pt;
  }
  canvas {
    display: block;
  }
  